# Análisis de datos climáticos desde una API pública

In [24]:
import requests
import pandas as pd

In [25]:
url = "https://api.open-meteo.com/v1/forecast"
params = {
    "latitude": 7.9,
    "longitude": -72.5,
    "hourly":  ["temperature_2m", "relative_humidity_2m", "precipitation", "rain", "weather_code"],
    "timezone": "America/Bogota",
    "past_days": 5  # Solicita datos de los últimos 5 días
    
}

res = requests.get(url, params=params)
data = res.json()

# Convierte los datos horarios a un DataFrame
df = pd.DataFrame(data)
df

,latitude,longitude,generationtime_ms,utc_offset_seconds,timezone,timezone_abbreviation,elevation,hourly_units,hourly
time,7.875,-72.5,0.122309,-18000,America/Bogota,GMT-5,299.0,iso8601,"[2026-01-21T00:00, 2026-01-21T01:00, 2026-01-2..."
temperature_2m,7.875,-72.5,0.122309,-18000,America/Bogota,GMT-5,299.0,°C,"[23.7, 24.1, 24.1, 24.0, 23.6, 23.4, 23.2, 23...."
relative_humidity_2m,7.875,-72.5,0.122309,-18000,America/Bogota,GMT-5,299.0,%,"[90, 90, 90, 90, 92, 93, 93, 93, 93, 92, 88, 8..."
precipitation,7.875,-72.5,0.122309,-18000,America/Bogota,GMT-5,299.0,mm,"[0.0, 0.3, 0.0, 0.3, 0.6, 0.8, 0.5, 0.2, 0.4, ..."
rain,7.875,-72.5,0.122309,-18000,America/Bogota,GMT-5,299.0,mm,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
weather_code,7.875,-72.5,0.122309,-18000,America/Bogota,GMT-5,299.0,wmo code,"[3, 80, 3, 80, 80, 80, 80, 80, 80, 80, 2, 2, 2..."

In [26]:
# Convierte los datos horarios a un DataFrame
df = pd.DataFrame(data["hourly"])
df

,time,temperature_2m,relative_humidity_2m,precipitation,rain,weather_code
0,2026-01-21T00:00,23.7,90,0.0,0.0,3
1,2026-01-21T01:00,24.1,90,0.3,0.0,80
2,2026-01-21T02:00,24.1,90,0.0,0.0,3
3,2026-01-21T03:00,24.0,90,0.3,0.0,80
4,2026-01-21T04:00,23.6,92,0.6,0.0,80
...,...,...,...,...,...,...
283,2026-02-01T19:00,24.4,91,0.9,0.0,3
284,2026-02-01T20:00,24.2,91,0.3,0.0,3
285,2026-02-01T21:00,24.0,92,0.3,0.0,3
286,2026-02-01T22:00,23.9,92,0.3,0.0,3
287,2026-02-01T23:00,23.9,92,0.0,0.0,2