# Analizador de CSV de precios históricos de criptomonedas

In [49]:
import pandas as pd

## Cargar y explorar los datos

In [50]:
path = "../data/BTC-USD (2014-2024).csv"
df = pd.read_csv(path)
display(df.head())

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0
1,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0
2,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0
3,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0
4,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600.0

In [51]:
display(df.isnull())

       Date   Open   High    Low  Close  Adj Close  Volume
0     False  False  False  False  False      False   False
1     False  False  False  False  False      False   False
2     False  False  False  False  False      False   False
3     False  False  False  False  False      False   False
4     False  False  False  False  False      False   False
...     ...    ...    ...    ...    ...        ...     ...
3408  False  False  False  False  False      False   False
3409  False  False  False  False  False      False   False
3410  False  False  False  False  False      False   False
3411  False   True   True   True   True       True    True
3412  False  False  False  False  False      False   False

[3413 rows x 7 columns]

In [52]:
display(df[df.isnull().any(axis=1)])

            Date  Open  High  Low  Close  Adj Close  Volume
3411  2024-01-20   NaN   NaN  NaN    NaN        NaN     NaN

## Limpiar y preparar los datos

In [53]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3413 entries, 0 to 3412
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3413 non-null   object
 1   Open       3412 non-null   float64
 2   High       3412 non-null   float64
 3   Low        3412 non-null   float64
 4   Close      3412 non-null   float64
 5   Adj Close  3412 non-null   float64
 6   Volume     3412 non-null   float64
dtypes: float64(6), object(1)
memory usage: 186.8+ KB

None

In [54]:
df['Date'] = pd.to_datetime(df['Date'])
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3413 entries, 0 to 3412
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3413 non-null   datetime64[ns]
 1   Open       3412 non-null   float64
 2   High       3412 non-null   float64
 3   Low        3412 non-null   float64
 4   Close      3412 non-null   float64
 5   Adj Close  3412 non-null   float64
 6   Volume     3412 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 186.8 KB

None

In [55]:
df = df.fillna(df.mean())

In [58]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')